#app-content-nextdrop .drop-area {
	border-radius: 5px;
	border: 1.5px dashed rgb(84, 84, 84);
	padding: 30px 8px;
	text-align: center;
	opacity: .5;
	min-height: 100px;
}

/* hide dropzone preview */
#app-content-nextdrop .dz-preview {
	display: none;
}

#app-content-nextdrop input {
	width: 70%;
}

#app-content-nextdrop .text-area {
	border-radius: 5px;
	border: 1.5px dashed rgb(84, 84, 84);
	min-height: 100px;
	width: 100%;
}
