#app-content-dropit .drop-area {
	border-radius: 5px;
	border: 1.5px dashed rgb(84, 84, 84);
	padding: 30px 8px;
	text-align: center;
	opacity: .5;
	min-height: 100px;
}

/* hide dropzone preview */
#app-navigation .dz-preview {
	display: none;
}

#app-content-dropit .dz-upload {
    display: block;
    background-color: $color-primary;
    height: 10px;
    width: 0%;
}

#app-content-dropit input {
	width: 70%;
}

#app-content-dropit .text-area {
	border-radius: 5px;
	border: 1.5px dashed rgb(84, 84, 84);
	min-height: 100px;
	width: 100%;
}

.nav-icon-dropit,
.icon-dropit {
	background-image: url('../img/app-dark.svg');
}